:root{
    --banner-titulos:#DCEA28;
    --banner-1-fondo:#081818;
    --banner-1-texto:#DDED62;
    --banner-2-fondo:#426859;
    --banner-2-texto:#FBFE58;
    --banner-3-fondo:#354b37;
    --banner-3-texto:#161a19;
}
.carousel-item > div {
    height: 400px;
    line-height: 500px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}
.carousel-item h2{
    color: var(--banner-titulos) !important;
}
#banner_1 {
    background-color: var(--banner-1-fondo);
    color:var(--banner-1-texto) !important;
    left:0%;
}
#banner_2{
    background-color: var(--banner-2-fondo);
    color:var(--banner-2-texto) !important;
    left:100%;
}
#banner_3{
    background-color: var(--banner-3-fondo);
    color:var(--banner-3-texto) !important;
    left:200%;
}
.contenedor_texto{
  padding:70px;
}

.contenedor_texto h2{
  font-size:40px;
  color:white;
  font-family:sans-serif;
  text-align:center;
}
.contenedor_texto p{
  font-size:20px;
  color:darkkhaki;
  font-family:sans-serif;
}

/* Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin:20px auto;
}

.carousel-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height:350px;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    /*border:1px solid white;*/
    position:relative;
}

.carousel-item {
  position: absolute;
  width:100%;
  height:350px;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: #222;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #000;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 12px;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet, 
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}
/*Celular*/
@media (max-width: 420px){
    .contenedor_texto h2{
        font-size: 25px;
    }
    .contenedor_texto p{
        font-size: 15px;
    }
}
/*Tablet*/
@media (min-width: 501px) and (max-width:810px) {}