/*Tablet*/
@media (min-width: 501px) and (max-width:810px) {

    .enlace_sponsor{
        width: 100%;
    }
    .anuncio{
        width: 700px;
        margin: 0 auto;
    }
    .menu .seleccion{
        width: 12vw;
    }
    #speakers section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }
    .tarjeta_speaker{
        margin: 12px auto;
    }
}