.tarjeta_speaker{
    width: 200px;
    border: 1px solid var(--color-borde-tarjetas);
    border-radius: 10px;
    padding: 20px;
    margin-right: 15px;
}
.tarjeta_speaker ul{
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
}
.nombre_tarjeta{
    font-weight: 600;
    font-size: 14px;
    color:var(--color-primario);
}
.speaker_1{
    background-image: url(../img/01_speaker.jpg);
}
.speaker_2{
    background-image: url(../img/02_speaker.jpg);
}
.speaker_3{
    background-image: url(../img/03_speaker.jpg);
}
.speaker {
    font-weight: normal;
}
#speakers section{
    display: flex;
    justify-content: space-around;
}