:root{
    --color-titulos: #bef720; 
    --color-texto: #A6A39F; 
    --color-boton: #242424; 
    --color-texto-boton: #A6A39F;
    --color-borde-tarjetas: #F2F2F0;
    --color-lista-par: #403D38;
    --color-lista-texto-par: #F2F2F0;
    --color-lista-impar: #242424;
    --color-lista-texto-impar: #ffffff;
    --color-fondo:white; /* Gris oscuro */
    --color-enlaces_menu: #011204;
    --color-enlaces_general: #F2F2F0;
    --color-pata: #242424; /* Dorado */
    --color-texto-pata: white;
    --color-sombra: #F2F2F0;
    --color-fecha: #242424;
    --color-fondo-destacado: #F2F2F0;
    --color-destacado: #242424;
    --color-home:#090A0A;
    --color-frase:#DDED63;
    --color-fondo-cine:#090A0A;
    --color-fondo-menu:#b6cb15;
  }
