.menu{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    background: var(--color-fondo-menu);
    border-radius: 20px;
}
.active{
    background: white;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    width: 8vw;
    text-align: center;
    border-radius: 6px;
}
.menu a{
    color:var(--color-enlaces_menu);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
.menu a:hover{
    text-decoration: underline;
}
a{
    color:var(--color-enlaces_general);
}
a.autor{
    color:var(--color-fondo);
    text-decoration: underline;
    margin-top: 10px;
    font-size: 16px;
}
.enlace{
    text-decoration: none;
}